<section id="contact">
  <div class="section-content">
    <h1 class="section-header">Get in touch with Gracious Girls</h1>
    <h4 style="width: 75%;margin-top: 1em;">Gracious Girls would love to hear from you!  Please email them a message today!</h4>
  </div>
  <div class="contact-section">
  <div class="container">
    <form>
      <div class="col-md-6 form-line">
        <div class="form-group">
          <label for="exampleInputUsername">Name</label>
          <input type="text" class="form-control" id="" placeholder=" Enter Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail">Email Address</label>
          <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email id">
        </div>
        <div class="form-group">
          <label for="telephone">Mobile Number (optional)</label>
          <input type="tel" class="form-control" id="telephone" placeholder=" Enter 10-digit mobile no.">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for ="description">Message</label>
          <textarea  class="form-control" id="description" placeholder="Enter Your Message"></textarea>
        </div>
        <div>
          <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
        </div>
      </div>
    </form>
  </div>
